

body,html{
    width: 100vw;
    height: 100vh;
}

#root{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8% auto;
    grid-auto-rows: auto;
}

.menus div{
    font-weight: 700;
    font-family: "Inter";
}



.landing{
    font-family: "Merriweather Sans";
    background-color: #122B49;
    color: white;
    

}


