

body,html{
    width: 100vw;
    height: 100vh;
}


/*Main alignment of the page*/
#root{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8% 92%;
    grid-auto-rows: auto;
    overflow: hidden;

    
}

.menus div{
    font-weight: 700;
    font-family: "Inter";
}



.landing{
    font-family: "Merriweather Sans";
    background-color: #122B49;
    color: white;
    

}

.landing span{
    font-weight: bold;
}


::-webkit-scrollbar{
    width: 50%;
}

